/* span#my-name:before {
  content: '';
  animation: animate infinite 6s;
}

@keyframes animate {
  0% {
    content: 'John.';
  }

  50% {
    content: '주성 | Jusung.';
  }

  100% {
    content: 'John.';
  }
} */

@media screen and (max-width: 1300px) and (min-width: 800px) {
  .profile-quote {
    font-size: 3rem !important;
  }

  .profile {
    width: 50vw !important;
  }
}

.head-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px green dashed;
}

.body-content {
  margin-top: 0px;
}

.head-email {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 15vw;
  margin-bottom: 15vh;
  /* border: 1px green dashed; */
}

#email-copied {
  margin-top: 0vh;
  position: absolute;
  top: 27vh;
  left: 5vw;
  display: block;
}

#head {
  width: 15vw;
  margin-bottom: 5vh;
  cursor: pointer;
}

.profile {
  width: 30vw;
}

.profile-quote {
  font-family: freight-display-pro, serif;
  /* text-align: center; */
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0px 0px 36px;
  color: #4F4F4F;
}

.contact-info {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 20vw;
  border: red 1px dashed;
}

.social-icon-row-0 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social-icons-0 {
  width: 1.75vw;
  margin-right: .75vw;
}
