
/*  */

#creativejam-title {
  margin: 96px 0px;
}

#hero-image img {
  position: absolute;
  max-width: 1000px;
  object-fit: cover;
  top: 0px;
  left: 40vw;
  z-index: -1;
}

.site-title-creativejam {
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  align-items: center;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  width: 640px;
}

#overview-module {
  background-color: rgba(1.0, 1.0, 1.0, 0.0);
}

#image-container-cjstory {
  height: 550px;
  border: 1px red dashed;
}

#image-container-cjstory > img {
  width: 80vw;
  max-width: 1370px;
  top: -5px;
  outline: 8px white solid;
  outline-offset: -2px;
  border: 1px white solid;
}

#image-item-cj-0.image-shadow {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0);

}

#share-separate {
  margin: 0px;
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
  #image-container-cjstory {
    max-height: 530px;
    outline: 2px white solid;
    outline-offset: -2px;
  }

  #image-item-cj-0 {
    max-width: 80vw;
    height: 370px;
    object-fit: contain;
    /* border: 3px green solid; */
  }

  #image-container-share-separate {
    outline: 2px white solid;
    outline-offset: -2px;
  }
}
