#hololens-title {
  margin: 96px 0px;
}

#image-item-hololens-header {

}

.title-image {
  position: absolute;
  /* max-height: 480px; */
  max-width: 1200px;
  object-fit: cover;
  /* background-attachment: fixed; */
  top: -10vh;
  left: 50vw;
  z-index: -1;
}

.image-container-2 {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

#image-item-hl-8 {
  outline: 4px white solid;
  outline-offset: -2px;
}
