body {
    background-color: black;
    cursor: url("../assets/cursor-white.png"), pointer;
}

main {
    height: 100vh;
    // overflow: scroll;
    // scroll-snap-type: y proximity;
}

// section {
//     scroll-snap-align: start;
// }

// section #footer-snap {
//     scroll-snap-align: end;
// }

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;

    // border: 2px red dashed;
}

#top-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    // border: 2px orange dashed;
}

#statement-container {
    width: 100vw;

    position: relative;
    margin: 0px 0px 24px;

    // border: 2px yellow dashed;
}

.wrapped-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px green dashed;
}

#container-above {
    position: absolute;
    background-color: white;

    clip-path: circle(0.1px at 50% 50%);
    transition: 0.2s ease-out;

    border: 2px blue dotted;
}

#container-above > #home-statement, #personal-statement {
    color: black;
}

#container-below {
    z-index: 2;
    background-color: black;

    border: 3px blue dashed;
}

#black-gradient-elem {
    position: absolute;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to bottom, transparent 5%, black 95%);
    bottom: 0;
    background-blend-mode: darken;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    // border: 2px yellow dashed;
}

#view-project-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36px;
    margin-bottom: 5vh;
    // cursor: pointer;
    // border: 2px yellow dashed;
}

#view-project-button h3 {
    font-family: degular;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

// #view-project-button h3:hover {
//     opacity: 50%;
// }

#view-project-button img {
    width: 0.5vw;
    min-width: 8px;

    // border: 2px yellow dashed;
}

#black-text {
    color: #000000;
}

.home-statement {
    width: 90vw;
    color: white;
    font-family: degular;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 24px;
    // text-transform: uppercase;
}

.personal-statement {
    width: 90vw;
    color: #FFFFFF;
    // opacity: 60%;
    font-family: degular;
    // font-style: italic;
    font-size: 1.25rem;
    font-weight: 300;
}

#projects-container {
    // width: 90vw;
    // margin-top: 7.5vh;
    border: 10px orange dashed;

    scroll-snap-align: start;

}

#project-label {
    color: #FFFFFF;
    font-family: Degular;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
}

#project-contents {
    display: flex;
    flex-direction: row;
    align-self: start;
    justify-content: space-between;


    // border: 2px green dotted;
}

#project-list {
    display: flex;
    flex-direction: row;
    align-self: start;

    // border: 1px blue dotted;
}

#project-information {
    width: 50vw;

    // border: 1px blue dotted;
}

#project-information * {
    font-family: degular;
    color: #FFFFFF;
}

#project-information p:nth-child(2){
    opacity: 60%;
}

.project-content {
    padding: 12px 0px 0px 12px;
    height: 10vh;
    width: .75vw;
    background-color: #FFFFFF;
    margin-right: 12px;
    cursor: url("../assets/cursor-circle.png"), pointer;

    // transform: scaleX(1);

    // border: 1px green dashed;
}

/* Project Selection Items */

.project-name-container {
    visibility: hidden;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;

    border: 1px blue dashed;
}

.project-item-information {

}

.project-name {
    font-family: degular;
    font-weight: 500;
    font-size: 1rem;
}

.project-type {
    font-weight: 300;
    font-style: italic;
}

.project-item-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border: 1px red dashed;
}

.project-lock-icon {
    width: 1vw;
    min-width: 16px;
}

/* Project Item Images */
#project-image-wrapper {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    border: 1px lightblue dashed;
}

#project-image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    border: 3px lightgreen dashed;
}

.project-item-images {
    position: absolute;
    border: 1px lightyellow dashed;
}

.project-item-image {
    width: 100vw;
    position: relative;
    overflow: hidden;

    z-index: -1;

    img {
        width: 35vw;
        position: absolute;
        border-radius: 12px;
        
    }

    border: 1px green dashed;
}

// .project-item-image:after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     right: 0;
//     background-color: black;
// }

#project-image-item-1 {
    position: absolute;
    border: white 1px dashed;
}

.project-image-imgs {
    max-width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 0%;
}

#project-image-item-1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    // background-color: black;
}

*::selection {
    background: #FFFFFF;
    color: #000000;
  }

#clipped-shape {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // border: 1px red solid;
}

.cursor-here {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    transition: .2s ease-out;
    pointer-events: none;
    mix-blend-mode: difference;
}

h1:hover ~ .cursor-here {
    transform: scale(40);
}

h1:hover ~ .wrapped-container {
    transform: scale(40);
}

/* Project Items */
.selected-project-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    position: relative;


    border: 1px lightblue dashed;
}

#selected-project-header {
    display: flex;
    font-family: degular;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;

    color: white;
}

#selected-project-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // justify-content: space-around;
    // width: 20vw;
    // min-width: 250px;

    margin: 1.25vh 0 5vh;

    border: pink solid 1px;
}

.selected-filter-item {
    font-family: degular;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    opacity: 0.6;

    margin-right: clamp(15px, 1vw, 24px);
    margin-left: clamp(15px, 1vw, 24px);

    cursor: pointer;

    
}

.filter-item-selected {
    opacity: 1;
}

#selected-project-container {
    height: 15vh;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;

    border: pink solid 1px;
}

.selected-project-item {
    width: 7.5vw;
    height: 15px;
    margin: 0 1vw;
    // margin-right: clamp(15px, 1vw, 24px);
    background-color: white;

    border: 1px green dashed; 
}


// /* Text Footer */
// #landing-footer-wrapper {
//     width: 100vw;
//     height: 50vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     background-color: black;

//     border: 1px green dashed;
// }

// #landing-footer-container {
//     width: 80vw;

//     border: 1px blue dashed;
// }

// .footer-text-container {
//     margin-bottom: clamp(48px, 15vh, 72px);
//     border: 1px red dashed;
// }

// #footer-text-header, #footer-text-variable {
//     font-size: 1.5rem;
//     color: #FFFFFF;
// }

// #landing-footer-content {
//     width: inherit;


//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;

//     border: 1px green dashed;
// }

// #social-links {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;

//     // min-width: 400px;
//     // max-width: 750px;
//     // width: 25vw;

//     border: 1px green dashed;
// }

// .social-link-item {
//     font-family: degular;
//     font-size: 1.25rem;
//     color: #FFFFFF;
//     text-transform: uppercase;
    
//     margin-right: clamp(12px, 2.5vw, 48px);
// }

// .social-link-item:hover {
//     opacity: 50%;
// }

// #email-copy-link {
//     height: 25px;
//     width: 150px;
//     position: relative;
//     // display: block;
//     overflow: hidden;
//     margin: 0;

//     // border: 1px green dashed;
// }

// .email-copied-signifier {
//     position: absolute;
//     // display: inline;
//     z-index: 200;
//     top: 100%;
//     margin-left: 6px;
    
//     // border: 1px yellow dashed;
// }

// #footer-author {
//     display: flex;
//     flex-direction: column;
//     font-weight: 500;

//     border: 2px blue dashed;
// }

// #landing-footer-text, #last-updated-date {
//     text-align: right;
//     color: #FFF;
//     font-family: Degular;
//     text-transform: uppercase;
//     // border: 1px blue dashed;
// }

// #last-updated-date { 
//     margin-top: 4px;
//     opacity: 40%;
// }

@media screen and (max-width: 1500px) and (min-width: 813px) {

}
