div {
  border: none !important;
}

body {
  margin: auto;
  /* display: flex; */
  justify-content: center;
  /* border: 2px dashed red; */
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
  .content-container-index {
    width: 70vw;
    margin: auto;
  }
}

.content-container-index {
  width: 100vw;
  border: 2px dashed orange;
}

.homepage-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -0;
}

#homepage-image-0 {
  position: absolute;
  object-fit: contain;
  height: 60vh;
  left: 30vw;
}

span#homepage-header:before {
  content: '';
  animation: animate infinite 10s;
}

@keyframes animate {
  0% {
    content: 'design, because it matters.';
  }

  20% {
    content: 'bridge the divide between people.';
  }

  40% {
    content: 'make something unforgettable.';
  }

  60% {
    content: 'thrive under constraints.';
  }

  80% {
    content: 'change the world.';
  }

  100% {
    content: 'design, because it matters.';
  }
}

.title-image {
  position: absolute;
  /* max-height: 480px; */
  max-width: 1200px;
  top: -240px;
  z-index: -1;
}

/* Landing Page */
#homepage-head {
  font-size: 1.5rem;
}

#homepage-header {
  font-size: 1.5rem;
}

.homepage-content{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  border: 4px pink dashed;
}

.homepage-title {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  margin: 25vh 0vw;;
  border: red 1px dashed;
}

.content-inside {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: red 1px dashed;
}

.project-item {
  font-size: 1rem;
  padding-bottom: .2vh;
  margin-bottom: .5vh;
  line-height: 18px;
  /* border: 1px dashed green; */
}

.project-details {
  margin-right: 0px;
}

#project-title {
  display: none;
  font-size: 1rem;
}

#project-attr {
  display: none;
  font-style: italic;
  font-size: 1rem;
  color: #5A5A5A;
}
