div {
  border: none !important;
}

body {
  margin: auto;
  /* display: flex; */
  justify-content: center;
  position: relative;
  /* border: 2px dashed red; */
}

.mobile-off {
  display: block;
}

.mobile-on {
  display: none !important;
}

@media screen and (max-width: 1300px) and (min-width: 814px) {
  .content-container-index {
    width: 70vw;
    margin: auto;
  }
}

.content-container-index {
  width: 100vw;
}

.homepage-image-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  /* position: absolute; */
}

#homepage-image-2 {
  position: absolute;
  height: 100vh;
  width: 50vw;
  right: 0;
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(to bottom, transparent 50%, black 100%), url("../assets/home-0.JPG");
  background-size: cover;
}

#homepage-image-2::after {
  display: block;
  position: relative;
  height: 100%;
  
}

#homepage-image-0 {
  position: absolute;
  object-fit: contain;
  height: 40vh;
  left: 30vw;
  top: 10vw;

}

span#homepage-header:before {
  content: '';
  /* animation: animate infinite 10s; */
}

/* obsolete */
/* 
@keyframes animate {
  0% {
    content: 'design, because it matters.';
  }

  20% {
    content: 'bridge the divide between people.';
  }

  40% {
    content: 'make something unforgettable.';
  }

  60% {
    content: 'thrive under constraints.';
  }

  80% {
    content: 'change the world.';
  }

  100% {
    content: 'design, because it matters.';
  }
} */

.title-image {
  position: absolute;
  /* max-height: 480px; */
  max-width: 1200px;
  top: -240px;
  z-index: -1;
}

/* Landing Page */
#homepage-head {
  font-size: 1.5rem;
}

#homepage-header {
  font-size: 1.5rem;
}

.homepage-content{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.homepage-title {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 1370px;
  margin: 25vh 0vw;;
}

.content-inside {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 813px) {
  #logo {
    width: 14vw;
  }

  .mobile-off {
    display: none;
  }

  .mobile-on {
    display: block !important;
  }

  .content-inside {
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 45vh;
    margin: 0vh 10vw;
  }

  #homepage-image-2 {
    width: 100vw;
    height: 55vh;
    position: relative;
    /* border-radius: 0 0 0 25%; */
  }

  .homepage-content {
    height: 100vh;
    margin: 0;
    /* margin: 25vh 10vw 0vh; */
  }

  .homepage-title {
    margin: 0 0 5vh 0;
    width: 100%;
    min-height: 99px;
  }

  #homepage-head, #homepage-header {
    display: flex;
    font-size: 1.5rem;
  }

  .content-container-index {
    padding: 0;
  }

  .project-item {
    margin-bottom: 1.5vh;
    padding: 1.5vh;
    border: 1px #fafafa solid;
    background-color: #F9F9F9;
    border-radius: 5%;
    /* box-shadow: 4px 4px 16px 1px rgba(50, 50, 50, 0.12); */
  }
}
