#password-protection-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: scroll;

    z-index: 2;
    /* border: 3px green dashed; */
}

#protection-wrapper {
    
}

#protection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: clamp(48px, 15vh, 144px);

}

#password-container {
    border: 1px blue dashed;
}

#password-require-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: clamp(72px, 8.25vh, 96px);
    justify-content: space-between;

    border: 1px green dashed;
}

#locked-page-icon {
    width: 24px;
}

#password-statement {
    font-family: degular;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FFF;
}

#password-input-area {
    font-family: degular;
    font-size: 1rem;
    height: 36px;
    color: #FFF;
    background-color: #000;
    outline: none;
    border: none;
    resize: none;

    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}

#password-input-area:focus {
    border-bottom: 1px white solid;
}

#password-input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* width: 25vw; */
}

#submit-button-container {
    height: 36px;
    width: 36px;

    position: absolute;
    overflow: hidden;

    border: 1px purple dashed;
}

#submit-password {
    height: inherit;
    width: inherit;
    background-color: transparent;
    border: none;
    /* cursor: pointer; */

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 30;
}

#submit-icon {

}

#case-preview {
    border: 1px green dashed;
}

#preview-case-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;

    border: 1px yellow dashed;
}

#preview-case-image {
    object-fit: contain;
    height: 80vh;
}

#password-protection-overlay h2, #password-protection-overlay h3 {
    color: #FFF;
}

#case-preview .overview-item-body {
    color: #FFF;
    opacity: 0.5;
}