/* General CSS */
div {
  border: none !important;
}

.selected {
  color: #3190FF;
}

.unselected {
  color: #BDBDBD;
}

.hover-over {
  color: #8EC2FF;
}

.border-round {
  border-radius: 6px;
}

.teamSelector {
  cursor: pointer;
}

.a-little-bit-of-jus {
  color: #3190FF;
}

.align-center {
  align-self: center;
  align-items: baseline;
  /* border: 1px dashed pink; */
}

.flexible-container {
  width: 100%;
  white-space: nowrap;
  /* border: red 1px dashed; */
}

.image-shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}

.not-visible {
  opacity: 0%;
}

/* General Type Systems */
header {
  max-width: 750vw;
}

body {
    overflow-x: hidden;
    margin: 0;
}

h1 {
  font-family: freight-macro-pro, serif;
  margin-top: 0px;
}

h2 {
  font-family: proxima-nova, sans-serif;
  margin-top: 0px;
  color: #333333;
}

h3 {
  font-family: freight-macro-pro, serif;
  margin-top: 0px;
  color: #333333;
}

p {
  font-family: freight-macro-pro, serif;
  color: #1E1D21;
  margin: 0px;
}

a:link {
  color:#3190FF;
  position: relative;
  text-decoration: none;
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
}

.case-links {
  position: relative;
  top: 0%;

}

a:hover {
  color: rgba(1.0, 1.0, 1.0, 0.4);
  top: -2.5px;
}

a:visited {
  color: #3190FF;
}

.site-title {
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  display: inline;
  align-items: center;
  width: 640px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  /* border: 1px black dashed; */
}

.site-subtitle-type {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-right: 12px;
}

.site-subtitle-attr {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.case-title {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.body-style {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.overview-statement {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 48px;
}

.overview-item-header {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.overview-item-body {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #4F4F4F;
}

.section-title {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.section-header {
  font-size: 18px;
  font-weight: 500;
}

.section-quote {
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}

.perspective-container {
  align-self: center;
  display: block;
  max-width: 50%;
  /* border: 3px green dashed; */
}

.perspective-statement {
  font-family: freight-display-pro, serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  margin: 0px;
  color: #4F4F4F;
  /* border: 2px yellow dashed; */
}

.small-quote {
  font-family: freight-display-pro, serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  margin: 0px;
  color: #4F4F4F;
}

.image-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #BDBDBD;
  margin-top: 24px;
  /* border: red 1px dashed; */
}

.icon-image {
  width: 64px;
  margin-bottom: 24px;
}

header {
  display: flex;
  justify-content: center;
}

/* Navigation */
.header-content {
  pointer-events: none;
  padding: 35px 35px 0px;
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  width: 90%;
  justify-content: space-between;
  display: flex;
  margin: auto;
  margin-bottom: 48px;
  position: fixed;
  top: 0;
  z-index: 2;
  border: 1px blue dotted;
}

.add-click {
  pointer-events: auto;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  border: 1px purple dotted;
}

.navigation-items h3 {
  font-weight: 400;
}

.about-page {
  margin-left: 36px;
}

.more-menu {
  margin-left: 36px;
}

/* Images*/
img {
  width: 100%;
  object-fit: cover;
}

.content-image {
  flex: none;
  align-self: center;
  /* border: 10px green dashed; */
}

.content-image-double {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 1366px;
}

.image-item-double {
  width: 35vw;
}

.content-image-double {

}

.content-image-squares {
  align-self: center;
  display: flex;
  flex-direction: row;
  /* border: orange 1px dashed; */
}

.image-container {
  display: flex;
  /* flex-direction: column; */
  border-radius: 6px;
  box-sizing: content-box;
  max-height: 540px;
  min-width: 1366px;
  max-width: 1366px;
  /* border: red 2px dashed; */
}

.image-container-small {
  overflow: hidden;
  border-radius: 6px;
  box-sizing: content-box;
  max-height: 540px;
  max-width: 50vw;
  border: 5px dashed pink;
}

.image-container-1 {

}

.image-container-square {
  display: flex;
  border-radius: 6px;
  box-sizing: content-box;
  /* height: 392px; */
  max-width: 392px;
  /* border: red 2px dashed; */
}

.image-container-middle {
  display: flex;
  border-radius: 6px;
  box-sizing: content-box;
  /* height: 392px; */
  max-width: 392px;
  margin: 0px 96px 0px 96px;
  /* border: red 2px dashed; */
}

.image-container-UI {
  /* align-self: center; */
  display: block;
  text-align: center;
  border-radius: 6px;
  box-sizing: content-box;
  height: 100%;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  border: red 1px dashed;
}

.image-container-UI-middle {
  /* align-self: center; */
  display: block;
  text-align: center;
  border-radius: 6px;
  box-sizing: content-box;
  height: 100%;
  width: 330px;
  margin: 0px 96px 0px 96px;
  border: red 1px dashed;
}

.image-item-toggle {
  display: flex;
  flex-direction: row;
  border: 1px dashed red;
}

.image-selector-item {
  display: inline;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 24px;
}

.case-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 96px;
  /* border: green 1px dashed; */
}

.case-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.case-navigation {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: green 1px dashed; */
}

.case-rows {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.case-item{
  margin: 0px 48px;
  /* border: red 1px dashed; */
}

.case-item-image {
  height: 200px;
  width: 330px;
  overflow: hidden;
}

.case-item img {
  height: 200px;
  width: 330px;
  transition-property: transform;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
}

.case-item img:hover {
  transform: scale(1.03);
}

/* Main Content */
.body-content {
  display: flex;
  flex-direction: column;
  padding: 72px 0px 0px;
  position: absolute;
  width: 100%;
  border: #ad03fc 1px dashed;
}

/* Div Backgrounds */
.gray-bg {
  position: relative;
  background-color: #F8F8F8;
  width: 100vw;
}

.gray-bg:before {
    content:"";
    background-color:#F8F8F8;
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -2000px;
    top: 0px;
    z-index: -1;
}

.white-bg {
  background-color: #FFFFFF;
}

/* Container Styles */
.item {
  display: inline-block;
}

.title-content {
  position: static;
  left: 151px;
  align-self: center;
  border: red 1px dashed;
}

.subtitle-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.content-container-index {
  display: flex;
  flex-direction: column;
  padding: 96px 0px 96px 0px;

  /* Inside Auto Layout */
  flex: none;
  align-self: center;
  margin: 0px 0px;
  width: 100%;
  border: blue 1px dashed;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 96px 0px 96px 0px;

  /* Inside Auto Layout */
  flex: none;
  align-self: center;
  margin: 0px 0px;
  width: 100%;
  max-width: 1366px;
  border: blue 1px dashed;
}

.content-inside {
  display: flex;
  flex: column;
  align-self: center;
  margin: 0px 10px;
  border: green 1px dashed;
  /* width: 1370px; */
}

.content-row {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  max-width: 1372px;
}

.content-row div {
  width: 30%;
}

.content-top {
  display: flex;
  flex: column;
  align-self: center;
  margin: 0px 10px;
  margin-bottom: 96px;
  border: green 1px dashed;
  /* width: 1370px; */
}

.content-bottom {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.content-left {
  width: 446px;
  margin-right: 360px;
  /* margin-right: 132px; */
  border: orange 1px dashed;
}

.image-content-left {
  width: 446px;
  margin-right: 360px;
  /* margin-right: 132px; */
  border: orange 1px dashed;
}

.content-right {
  /* display: flex; */
  /* flex-direction: column; */
  width: 560px;
  padding: 0px;
  border: orange 1px dashed;
}

.content-right-2 {
  display: flex;
  align-items: center;
  width: 560px;
  padding: 0px;
  border: pink 3px dashed;
}

.content-UI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  border: 1px red dashed;
}

.content-block-end {
  margin: 0;
  border: 1px red dashed;
}

.content-block-2 {
  width: 390px;
}

.content-block .image-container-UI {
  margin: 0px 0px 48px;
  display: flex;
  border-radius: 6px;
  box-sizing: content-box;
  width: 240px;
  /* border: red 2px dashed; */
}

.overview-items {
  display: flex;
  flex-direction: row;
}

.overview-item {
  margin-bottom: 12px;
  margin-right: 48px;
}

.quote-content-inside {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: green 1px dashed;
}

.quote-content-inside .section-title {
  margin: 0px;
}

.title-inblock {
  width: 1370px;
  display: flex;
  margin-bottom: 96px;
}

.quote-blocks {
  width: 1370px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: blue 1px dashed;
}

.quote-block {
  width: 389px;
  /* margin-right: 48px; */
}

.stat-content {
  width: 1370px;
  /* height: 424px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0px 10px;
  border: blue 1px dashed;
}

.stat-content .section-title {
  margin-bottom: 96px;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: green 1px dashed;
  /* margin-bottom: 96px; */
}

.add-bottom {
  margin-bottom: 96px;
}

.bottom-margin-18 {
  margin-bottom: 18px;
}

.bottom-margin-24 {
  margin-bottom: 24px;
}

.add-top-margin {
  margin-top: 24px;
}

.remove-top-margin {
  margin-top: 0px;
}

.remove-top-padding {
  padding-top: 0px;
}

.stat-item {
  border: orange 1px dashed;
}

.stat-item h3, .stat-item p {
  text-align: center;
}

.stat {
  font-family: freight-display-pro, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 124px;
  margin-bottom: 36px;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;

}

.footer-content {
  width: 1366px;
  display: flex;
  justify-content: space-between;
  padding: 96px 0px;
  height: 30vh;
  border: 3px dashed blue;
}

.footer-statement {
  width: 20vw;
  border: red 1px dashed;
}

.footer-statement p {
  font-size: 1rem;
}

.footer-quote {
  font-family: freight-display-pro, serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0px 0px 18px;
  color: #4F4F4F;
}

.contact-info {
  text-align: right;
  width: 15vw;
  border: red 1px dashed;
}
