
/*  */

#creativejam-title {
  margin: 96px 0px;
}

.title-image {
  position: absolute;
  /* max-height: 480px; */
  max-width: 1000px;
  object-fit: cover;
  /* background-attachment: fixed; */
  top: 0px;
  left: 680px;
  z-index: -1;
}

.site-title-creativejam {
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  align-items: center;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  width: 640px;
}

#overview-module {
  background-color: rgba(1.0, 1.0, 1.0, 0.0);
}

#image-container-cjstory {
  height: 550px;
  border: 1px red dashed;
}

#image-item-cj-0 {
  width: 1366px;
  top: -5px;
  border: 1px white solid;
}

#image-item-cj-0.image-shadow {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.0);

}

#share-separate {
  margin: 0px;
}
